# Earthquake Data
More about the data:
https://fivethirtyeight.com/features/the-rock-isnt-alone-lots-of-people-are-worried-about-the-big-one/
https://github.com/fivethirtyeight/data/blob/master/san-andreas/README.md

In [2]:
import pandas as pd
import numpy as np

# Processing the data
Reading csv file, extracting desired columns, renaming them and dropping incomplete answers.

In [3]:
df = pd.read_csv("../Original Data/earthquake_data.csv")
df.head()

,"In general, how worried are you about earthquakes?","How worried are you about the Big One, a massive, catastrophic earthquake?","Do you think the ""Big One"" will occur in your lifetime?",Have you ever experienced an earthquake?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",How familiar are you with the San Andreas Fault line?,How familiar are you with the Yellowstone Supervolcano?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic

In [4]:
df_extracted = df[['Age','What is your gender?', 'Do you think the "Big One" will occur in your lifetime?']]
df_extracted.columns = ['age', 'sex', 'answer']
df_extracted = df_extracted.dropna(axis=0)
df_extracted.head()

       age   sex answer
0  18 - 29  Male     No
1  18 - 29  Male     No
2  18 - 29  Male     No
3  18 - 29  Male     No
4  18 - 29  Male    Yes

# Constructing the Data Appendix
Splitting data into desired DataFrames

In [5]:
positive_answers = df_extracted.loc[df_extracted['answer']=='Yes']
positive_answers.columns = ['age', 'sex', 'positive answers']
positive_answers = positive_answers.groupby(['age','sex']).count()

negative_answers = df_extracted.loc[df_extracted['answer']=='No']
negative_answers.columns = ['age', 'sex', 'negative answers']
negative_answers = negative_answers.groupby(['age','sex']).count()

total_answers = positive_answers['positive answers']/(positive_answers['positive answers']+negative_answers['negative answers'])

# Generating the results
Creating DataFrame for analysis and saving as .xlsx file

In [8]:
result = pd.concat([positive_answers, negative_answers, total_answers.rename('yes/no ratio')], axis=1)
result

                positive answers  negative answers  yes/no ratio
age     sex
18 - 29 Female                47                62      0.431193
        Male                  41                65      0.386792
30 - 44 Female                61                70      0.465649
        Male                  59                67      0.468254
45 - 59 Female                61                80      0.432624
        Male                  60                74      0.447761
60      Female                55                85      0.392857
        Male                  46                68      0.403509

In [12]:
result.to_excel("../Analysis Data/result.xlsx")